{% extends "base.html" %} {% block main %}
<div class="logo-texte">
  <img
    src="{{ url_for('static', filename='images/logo_cercle_escrime_blois.png') }}"
    alt="Logo du cercle d'escrime de Blois"
    width="100"
    height="100"
  />
  <p>Mot de passe oublié</p>
</div>
<div class="fenetre-mdp-confirmer_mdp">
  <form method="POST">
    <!-- NEW MOT DE PASSE -->
    <h2>Nouveau mot de passe</h2>
    <input
      type="password"
      name="newpassword"
      placeholder="Entrez votre mot de passe"
      required
    />

    <!-- CONFIRMER NEW MOT DE PASSE -->
    <h2>Confirmation nouveau mot de passe</h2>
    <input
      type="password"
      name="newpasswordconfirm"
      placeholder="Entrez votre mot de passe"
      required
    />

    <!-- BOUTON CONFIRMER -->
    <input type="submit" value="Confirmer" />
  </form>
</div>
{% endblock %}
