{% extends "membre/membre_navbar.html" %}

{% block membre %}
<div class="consultation-container">
    <div class="consultation-section">
        <h3>Informations Événement</h3>
        <div class="consultation-grid">
            <div class="consultation-item">
                <span class="consultation-label">Nom Événement</span>
                <span class="consultation-value">{{ evenement.nom }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Date</span>
                <span class="consultation-value">{{ evenement.date }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Heure</span>
                <span class="consultation-value">{{ evenement.heure_formatee }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Catégorie</span>
                <span class="consultation-value">{{ evenement.categorie if evenement.categorie else '-' }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Lieu</span>
                <span class="consultation-value">{{ evenement.lieu }}</span>
            </div>
        </div>
    </div>

    <div class="consultation-section">
        <h3>Description Événement</h3>
        <div class="consultation-description">
            <p>{{ evenement.description }}</p>
        </div>
    </div>

    {% if evenement.type_evenement == 'Compétition' %}
    <div class="consultation-section">
        <h3>Informations Supplémentaires</h3>
        <div class="consultation-grid">
            <div class="consultation-item">
                <span class="consultation-label">Discipline</span>
                <span class="consultation-value">{{ evenement.discipline }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Sexe</span>
                <span class="consultation-value">{{ evenement.sexe }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Jeu</span>
                <span class="consultation-value">{{ evenement.cooperative }}</span>
            </div>
            <div class="consultation-item">
                <span class="consultation-label">Niveau</span>
                <span class="consultation-value">{{ evenement.niveau }}</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

