{% block admin_nav %}
<nav>
  <div id="navbar_inscription">
    <ul id="nav_inscription">
      <!-- SECTION INSCRIPTION CLUB -->
      <li id="rnav_gestion_form">
        <a class="nav-link" href="{{ url_for('admin_gestion_inscription_club') }}">Inscriptions au club</a>
      </li>

      <!-- SECTION INSCRIPTION EVENEMENT -->
      <li id="rnav_ajout_art">
        <a class="nav-link" href="{{ url_for('admin_gestion_inscription_evenement') }}">Inscriptions aux évènements</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
