{% extends "base.html" %} {% block main %}
{% include "admin/admin_navbar_globale.html" %}

<div>
  <h1 id="titre_page_info">Gestion des Renseignements</h1>
    <p id="blank_space"></p>
  <div class="limiter">
    <div class="table-info-container">
      <table class="table-info">
        <thead>
          <tr class="table100-head">
            <th class="col-ordre">Ordre</th>
            <th class="col-titre">Titre</th>
            <th class="col-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for info in infos %}
        <tr>
          <td class="col-ordre">{{ info.ordre }}</td>
          <td class="col-titre">{{ info.titre }}</td>
          <td class="col-actions">
              <a href="{{ url_for('admin_modif_information', id=info.id) }}" class="btn-modifier">Modifier</a>
              <a href="{{ url_for('admin_suppr_information', id=info.id) }}" class="btn-supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette section ?');">Supprimer</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <p id="blank_space"></p>
    <div class="action-container">
    <a href="{{ url_for('admin_ajout_information') }}" class="btn-ajouter-info">Ajouter une section</a>
  </div>
</div>
{% endblock %}
