{% block inscription_nav %}
<p id="blank_space"></p>
<nav>
  <div id="navbar_admin">
    <ul id="nav_admin">
      <!-- SECTION GESTION INSCRIPTION -->
      <li id="rnav_gestion_form">
        <a class="nav-link" href="{{ url_for('admin_gestion_inscription_club') }}">Inscriptions</a>
      </li>

      <!-- SECTION MISE A JOUR DES MEMBRES -->
      <li id="rnav_ajout_art">
        <a class="nav-link" href="{{ url_for('admin_miseajour_membres') }}">Membres du club</a>
      </li>

      <!-- SECTION MISE A JOUR RESULTATS  -->
      <li id="rnav_crea_event">
        <a class="nav-link" href="{{url_for('admin_resultats')}}">Résultats des compétitions</a>
      </li>

      <!-- SECTION GESTION INFORMATION -->
      <li id="rnav_info">
        <a class="nav-link" href="{{ url_for('admin_gestion_information') }}">Renseignements</a>
      </li>

      <!-- SECTION CREATION COMPETITION  -->
      <li id="rnav_infos_persos">
        <a class="nav-link" href="{{ url_for('admin_creation_competition') }}">Nouvelle compétition</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
