<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Initialisation JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/loupe_recherche.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password_toggle.js') }}"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static',filename='images/logo_cercle_escrime_blois.png')}}"/>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!-- BOUTON ACCUEIL -->
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Accueil</a>
          </li>

          <!-- BOUTON EVENEMENT -->
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['calendrier', 'consulter_evenement', 'inscription_event', 'resultat'] %}active{% endif %}" href="{{ url_for ('redirection_ffescrime')}}">Événement</a>
          </li>

          <!-- BOUTON RENSEIGNEMENT  -->
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'renseignement' %}active{% endif %}" href="{{ url_for('renseignement') }}">Renseignement</a>
          </li>

          <!-- BOUTON HISTORIQUE  -->
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'historique' %}active{% endif %}" href="{{url_for ('historique')}}">Historique</a>
          </li>

          {% if current_user.is_authenticated and current_user.role == 'membre' %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['infos_persos', 'event_inscrits', 'membre_consult_event', 'resultats_passes', 'change_password', 'update_arme'] %}active{% endif %}" href="{{ url_for('infos_persos') }}">Espace Membre</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated and current_user.role == 'responsable' %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['gest_form', 'consult_form', 'ajouter_article', 'create_event'] %}active{% endif %}" href="{{ url_for('gest_form') }}">Espace Responsable</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated and current_user.role == 'admin' %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['admin_inscription_club', 'admin_inscription_club_view', 'admin_inscription_evenement', 'admin_inscription_evenement_view', 'admin_miseajour_membres', 'supprimer_membre', 'admin_comp', 'admin_resultat', 'update_points'] %}active{% endif %}" href="{{ url_for('admin_inscription_club') }}">Espace Administrateur</a>
          </li>
          {% endif %}

          <!-- BOUTON SE CONNECTER  -->
          <li class="nav-item">
            {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{ url_for ('logout')}}">Se déconnecter</a>
            {% else %}
            <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for ('login')}}">Se connecter</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <!-- IMAGE LOUPE ET RECHERCHE -->
      <a class="navbar-brand" href="#">
        <input
          class="form-image"
          type="image"
          src="{{ url_for('static', filename='images/loupe_recherche.png') }}"
          width="20"
          height="20"
          name="loupe"
        />
        <input class="hidden-form" type="text" name="nm" />
      </a>
    </nav>
    {% endblock %} {% block content %}
    
    <main id="main" role="main" class="container-fluid p-0">
      {% if page_actu != 'home' %}
        <p id="blank_space"></p>
      {% endif %}
      {% block main %}{% endblock %}
    </main>
    {% endblock %}

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <div id="footer">
      {% include "footer.html" %}
    </div>
    {% block scripts %}{% endblock %}
    
  </body>
</html>
