<!-- Modal Confirmation Inscription -->
<div class="modal fade" id="confirmInscriptionModal" tabindex="-1" aria-labelledby="confirmInscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-custom">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title" id="confirmInscriptionModalLabel">Confirmation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center py-4">
        <p class="mb-2 fw-bold">Êtes-vous sûr de vouloir vous inscrire à l'événement :</p>
        <p class="fw-bold mb-4">{{ evenement.nom }} ?</p>
        <div class="d-flex justify-content-center gap-5">
            <a href="{{ url_for('evenement_inscription', id_evenement=evenement.id_evenement) }}" class="btn btn-success px-4 rounded-pill fw-bold">Oui</a>
            <button type="button" class="btn btn-danger px-4 rounded-pill fw-bold" data-bs-dismiss="modal">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>