{% extends "nav_responsable.html" %} 

{% block section_resp %}
<main id="gest_form">

    {% if formulaires|length == 0 %}
        <h1 class="text_form">Aucun formulaire trouvé</h1>
    {% else %}
        <h1 class="text_form">Formulaires déposés</h1>
        
        <div id="container_table_form">
            
            {% for form in formulaires %}
            <div class="formulaire-item" id="formulaire">
                <div id="formulaire_infos">
                    <p><strong>{{ form.nom_auteur }} {{ form.prenom_auteur }}</strong></p>
                    <p>Objet : {{ form.objet }}</p>
                </div>
                
                <div id="formulaire_options">
                    <form action="{{ url_for('responsable_consultation_formulaire', id_formulaire=form.id_formulaire) }}" class="gest_form_button_container">
                        <input type="submit" id="form_consulter" value="Consulter"/>
                    </form>
                    <form action="" class="gest_form_button_container">
                        <input type="submit" id="form_supprimer" value="Supprimer"/>
                    </form>
                </div>
            </div>
            {% endfor %} 

        </div>
    {% endif %}
</main>
{% endblock %}