{% extends "nav_responsable.html" %} 

{% block section_resp %}
<main id="gest_form">
    <h1 id="text_form">Formulaires déposés</h1>

    {% if formulaires|length == 0 %}
        <p>Aucun formulaire trouvé.</p>
    {% else %}
        {% for form in formulaires %}
            <div id="formulaire">
                <div id="formulaire_infos">
                    <p><strong>{{ form.nom_auteur }} {{ form.prenom_auteur }}</strong></p>
                    <p>Objet : {{ form.objet }}</p>
                </div>
                <div id="formulaire_options">
                    <button type="button" id="form_consulter">Consulter</button>
                    <button type="button" id="form_supprimer">Supprimer</button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}
