{% extends "base.html" %} {% block main %}
<div class="logo-texte">
  <img
    src="{{ url_for('static', filename='images/logo_cercle_escrime_blois.png') }}"
    alt="Logo du cercle d'escrime de Blois"
    width="100"
    height="100"
  />
  <p>Connexion au cercle d'escrime de Blois</p>
</div>
<div class="fenetre-login">
  <form method="POST" onsubmit="return false;">
    <!-- EMAIL -->
    <h2>Adresse e-mail</h2>
    <input
      type="email"
      name="email"
      placeholder="Entrez votre e-mail"
      required
    />

    <!-- MOT DE PASSE -->
    <h2>Mot de passe</h2>
    <input
      type="password"
      name="password"
      placeholder="Entrez votre mot de passe"
      required
    />
    <a href="#" id="passwrd-oublie">Mot de passe oublié ?</a>

    <!-- BOUTON LOGIN -->
    <input type="submit" value="Se Connecter" />
  </form>
</div>
{% endblock %}
