{% extends "base.html" %}


{% block main %}
<p id="blank_space"></p>
<nav>
   <div id="navbar_two">
       <ul id="nav_responsable">
           <!-- SECTION CLASSEMENT GLOBAL -->
           <li id="event_nav_classement_glob">
               <a class="nav-link" href="">Classement global</a>
           </li>


           <!-- SECTION AJOUTER ARTICLE -->
           <li id="event_nav_res">
               <a class="nav-link" href="{{url_for ('resultat')}}">Résultats</a>
           </li>


           <!-- SECTION CREATION EVENEMENTS  -->
           <li id="event_nav_calendrier">
               <a class="nav-link" href="{{url_for ('calendrier')}}">Calendrier</a>
           </li>
       </ul>
   </div>
</nav>
<section id="section_event" role="section_event">
   {% block section_event %}{% endblock %}
</section>
{% endblock %}
