{% extends "base.html" %}

{% block main %}
<p id="blank_space"></p>
<nav>
    <div id="resp_navbar">
        <ul id="nav_responsable">
            <!-- SECTION GESTION FORMULAIRE -->
            <li id="rnav_gestion_form">
                <a class="nav-link" href="{{ url_for('gest_form') }}">Gestion formulaire</a>
            </li>

            <!-- SECTION AJOUTER ARTICLE -->
            <li id="rnav_ajout_art">
                <a class="nav-link" href="{{ url_for('ajouter_article')}}">Ajouter article</a>
            </li>

            <!-- SECTION CREATION EVENEMENTS  -->
            <li id="rnav_crea_event">
                <a class="nav-link" href="{{ url_for('create_event') }}">Création événements</a>
            </li>

            <!-- SECTION INFORMATIONS PERSONNELLES  -->
            <li id="rnav_infos_persos">
                <a class="nav-link" href="{{url_for ('infos_persos')}}">Informations personnelles</a>
            </li>

            <!-- SECTION RESULTATS PASSES  -->
            <li id="rnav_res_passes">
                <a class="nav-link" href="{{url_for ('resultats_passes')}}">Résultats passés</a>
            </li>

            <!-- SECTION EVENEMENTS INSCRITS  -->
            <li id="rnav_event_inscrits">
                <a class="nav-link" href="">Événements inscrits</a>
            </li>
        </ul>
    </div>
</nav>
<section id="section_resp" role="section_responsable">
    {% block section_resp %}{% endblock %}
</section>
{% endblock %}