{% extends "base.html" %} {% block main %}
<p id="blank_space"></p>
<nav>
    <div id="resp_navbar">
        <ul id="nav_membre">
            <!-- SECTION INFORMATIONS PERSONNELLES -->
            <li id="nav-item">
                <a class="nav-link" href="">Informations Personnelles</a>
            </li>

            <!-- SECTION RESULTATS PASSES -->
            <li id="nav-item">
                <a class="nav-link" href="">Résultats Passés</a>
            </li>

            <!-- SECTION EVENEMENTS INSCRITS  -->
            <li id="nav-item">
                <a class="nav-link" href="">Évènements Inscrits</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}