{% extends "base.html" %}


{% block main %}
<p id="blank_space"></p>
<nav>
   <div id="navbar_two">
        <ul id="nav_responsable">
            <!-- SECTION CALENDRIER -->
            <li id="event_nav_calendrier">
                <a class="nav-link" href="{{url_for ('calendrier')}}">Calendrier</a>
            </li>

            <!-- SECTION RÉSULTATS -->
            <li id="event_nav_res">
                <a class="nav-link" href="{{url_for ('resultat')}}">Résultats</a>
            </li>

            <!-- SECTION CLASSEMENT GLOBAL -->
            <li id="event_nav_classement_glob">
                <a class="nav-link" href="{{url_for('redirection_ffescrime')}}">Classements nationaux</a>
            </li>
        </ul>
    </div>
</nav>
<section id="section_event" role="section_event">
   {% block section_event %}{% endblock %}
</section>
{% endblock %}
