{% extends "nav_event.html" %}

{% block section_event %}
<div style="text-align: center; margin: 50px auto; max-width: 600px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
    <h2>Redirection externe</h2>
    <p>Vous êtes sur le point de quitter notre site pour accéder au classements nationaux sur le site de la FFEscrime.</p>
    <p>Souhaitez-vous continuer ?</p>
    
    <div style="margin-top: 30px; display: flex; justify-content: center; gap: 20px;">
        <a href="https://www.ffescrime.fr/classements/#arme[EPE]" class="bouton" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" target="_blank">Continuer</a>
    </div>
</div>
{% endblock %}
