<!-- Modal Succès Inscription -->
<div class="modal fade" id="successInscriptionModal" tabindex="-1" aria-labelledby="successInscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-custom">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title" id="successInscriptionModalLabel">Succès</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center py-4">
        <p class="mb-4 fw-bold">Inscription à l'événement<br>{{ evenement.nom }} effectuée avec succès.</p>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary px-4 rounded-pill fw-bold" data-bs-dismiss="modal">Retour</button>
        </div>
      </div>
    </div>
  </div>
</div>